{% extends "employees/layout.html" %}
{% load rest_framework %}

{% block body %}
    <h1>Employee {{ employee.id }} </h1>
    <ul>
        <li>First Name: {{ employee.first_name }}</li>
        <li>Last Name: {{ employee.last_name }}</li>
        <li>Salary: {{ employee.salary }}</li>
    </ul>

    <form action="{% url 'employeedetail' employee.pk %}" method="POST">

        {% csrf_token %}
        {% render_form serializer %}
        <input type="submit" value="save">

    </form>
{% endblock %}